h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  &.main {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
}

.tiles {
  display: flex;
  justify-content: center;
  gap: 20px;

  .tile {
    flex: 1;
    text-align: center;
  }
}
